@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Rocks, they rock...literally.</h1>
    <p class="lead">Feeling alone? No one to talk to? No one who cares? What you're missing in your life is a 100 percent authentic pet therapy rock!</p>
    <p><a href="https://darkwing.uoregon.edu/~rlweiss/473/rockther.htm" class="btn btn-primary btn-lg">Learn more! &raquo;</a></p>
</div>
<img src="~/Images/Rocks.jpg" id="mainImage" alt="Sample Photo" />
<div class="row">
    <div class="col-md-4">
        <h2>Buy Our Rocks</h2>
        <p>
            Our rocks are made from 100 percent certified natural locally sourced granite, the finest in the business. They come with the comfort of a 7.2 percent money back guarantee. If for any reason you are uhappy with your rock simply mail it back to us with a check for $1000 and we will refund up to 7.2 percent of the original purchase price. 
        </p>
        <p><a class="btn btn-default" href="/Product">Buy a Rock! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tell Us About Your Rock Experiences</h2>
        <p>Here at the pet therapy rock project we are changing lives. Tell us about how your pet therapy rock changed your life. We understand how sensetive people can be about their experiences with their rocksl, therfore all comments will be screened for a jovial and positive tone. </p>
        <p><a class="btn btn-default" href="~/Comments">Preach &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Come find out more about the life changing work we do here. Please direct all litigious requests to our shell company at notapetrockcomany.com</p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>